﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Lx Analysis Monitor</title>
    <meta http-equiv="refresh" content="60" />
    <style type="text/css">
        td.S {{color: green;}}
        td.F {{color: red;}}
    </style>
</head>
<body>
    <h2>Lx Analysis Monitor</h2>
    <span style="font-size:10">Request Time: {0}</span><br />
    <p />
    <table border="1">
        <tr>
            <th>Monitor</th><th>Status</th><th>Message</th>
        </tr>
        <tr>
            <td>Access to Cell Tracker Files</td><td class={1}>{2}</td><td>&nbsp;</td>
        </tr>
        <tr>
            <td>Access to Lx Portal API</td><td class={3}>{4}</td><td>&nbsp;</td>
        </tr>
    </table>
</body>
</html>
