﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Lightning Detection Archiver</title>
    <meta http-equiv="refresh" content="60" />
    <style>
        body
        {{
            font-family: 'Lucida Console', monospace;
            font-size: 77.5%;
        }}
        h1 {{ font-size: 1.3em; }}
        h2 {{ font-size:1.15em; }}
        ul
        {{
            padding: 3px 3px 3px 20px;
            margin: 3px 3px 3px 2px;
        }}
        li.sub {{ list-style-type: none; }}
        table
        {{
            border-collapse:collapse;
        }}
        table,th, td
        {{
            border: 1px solid;
        }}
        th
        {{
             font-weight: bold;
             text-align: left;
             padding: 4px;
        }}
        td
        {{
             padding: 4px;
        }}
    </style>
</head>
<body>
    <h1>Lightning Detection Archiver v{0}</h1>
    <p>Current UTC Time: {1}</p>
    <table>
        <tr>
            <th>Monitor</th>
            <th>Status</th>
            <th>Message</th>
        </tr>
        <tr>
            <td>Age Last Flash Written to Db (secs)</td>
            <td>{2}</td>
            <td>{3}</td>
        </tr>
        <tr>
            <td>Age Last File Read (secs)</td>
            <td>{4}</td>
            <td>{5}</td>
        </tr>
        <tr>
            <td>S3 Age Last File Read (secs)</td>
            <td>{6}</td>
            <td>{7}</td>
        </tr>
        <tr>
            <td>Age Last File Archived (secs)</td>
            <td>{8}</td>
            <td>{9}</td>
        </tr>
        <tr>
            <td>Age Last File Cleanup (mins)</td>
            <td>{10}</td>
            <td>{11}</td>
        </tr>
        <tr>
            <td>Files in Invalid folders</td>
            <td>{12}</td>
            <td>{13}</td>
        </tr>
        <tr>
            <td>Files in S3 Invalid folders</td>
            <td>{14}</td>
            <td>{15}</td>
        </tr>
        <tr>
            <td>Age Last File Archived S3 (secs)</td>
            <td>{16}</td>
            <td>{17}</td>
        </tr>
    </table>
    <h2>Info</h2>
    <ul>
        <li>Database Writer Queue</li>
        <li class="sub">
            <ul>
                <li>Count: {18:n0}</li>
                <li>Active Tasks: {19}</li>
                <li>Max Tasks: {20}</li>
                <li>DB Insert Rate: {21} /min</li>
            </ul>
        </li>
        <li>Retry Database Writer Queue</li>
        <li class="sub">
            <ul>
                <li>Count: {22:n0}</li>
                <li>Active Tasks: {23}</li>
                <li>Max Tasks: {24}</li>
                <li>DB Insert Rate: {25} /min</li>
            </ul>
        </li>
        <li>Files in Pickup folder: {26}</li>
        <li>Files in Failure folders: {27}</li>
        <li>Age Last Datafeed Flash Processed: {28} secs</li>
        <li>Files in S3 Pickup folder: {29}</li>
        <li>Files in S3 Failure folders: {30}</li>
    </ul>
</body>
</html>