﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Lightning Data Manager Monitor</title>
    <meta http-equiv="refresh" content="60" />
    <style>
        body
        {{
            font-family: 'Lucida Console', monospace;
            font-size: 77.5%;
        }}
        h1 {{ font-size: 1.3em; }}
        h2 {{ font-size:1.15em; }}
        ul
        {{
            padding: 3px 3px 3px 20px;
            margin: 3px 3px 3px 2px;
        }}
        li.sub {{ list-style-type: none; }}
        table
        {{
            border-collapse:collapse;
        }}
        table,th, td
        {{
            border: 1px solid;
        }}
        th
        {{
             font-weight: bold;
             text-align: left;
             padding: 4px;
        }}
        td
        {{
             padding: 4px;
        }}
    </style>
</head>
<body>
    <h1>Lightning Data Manager v{0}</h1>
    <p>Current UTC Time: {1}</p>
    <table>
        <tr>
            <th>Monitor</th>
            <th>Status</th>
            <th>Message</th>
        </tr>
        <tr>
            <td>Incoming Processor Connections</td>
            <td>{2}</td>            
            <td>{3}</td>
        </tr>
        <tr>
            <td>Processor Packet rate (packet/sec)</td>
            <td>{4}</td>            
            <td>{5}</td>
        </tr>
        <tr>
            <td>Processor Connection rate (attempts/sec)</td>
            <td>{6}</td>            
            <td>{7}</td>
        </tr>
        <tr>
            <td>Datafeed Connections</td>
            <td>{8}</td>            
            <td>{9}</td>
        </tr>
          <tr>
            <td>Datafeed Connection Rate (attempts/sec)</td>
            <td>{10}</td>            
            <td>{11}</td>
        </tr>
        <tr>
            <td>Outgoing Manager Connections</td>
            <td>{12}</td>            
            <td>{13}</td>
        </tr>
        <tr>
            <td>Innbound Tln Minimum Flash Age (secs)</td>
            <td>--</td>
            <td>{14}</td>
        </tr>
        <tr>
            <td>Innbound Tln Maximum Flash Age (secs)</td>
            <td>--</td>
            <td>{15}</td>
        </tr>
        <tr>
            <td>Innbound Tln Sample Median Flash Age (secs)</td>
            <td>--</td>
            <td>{16}</td>
        </tr>
        <tr>
            <td>Innbound Wwlln Sample Minimum Flash Age (secs)</td>
            <td>--</td>
            <td>{17}</td>
        </tr>
        <tr>
            <td>Innbound Wwlln Sample Maximum Flash Age (secs)</td>
            <td>--</td>
            <td>{18}</td>
        </tr>
        <tr>
            <td>Innbound Wwlln Sample Median Flash Age (secs)</td>
            <td>--</td>
            <td>{19}</td>
        </tr>
        <tr>
            <td>Outbound Minimum Flash Age (secs)</td>
            <td>--</td>
            <td>{20}</td>
        </tr>
        <tr>
            <td>Outbound Maximum Flash Age (secs)</td>
            <td>--</td>
            <td>{21}</td>
        </tr>
        <tr>
            <td>Outbound Median Flash Age (secs)</td>
            <td>--</td>
            <td>{22}</td>
        </tr>
    </table>
    
     <h2>Info</h2>
<ul>
    <li>Stage 1: Incoming Flash</li>
    <li class="sub">
        <ul>
            <li>Count: {23:n0}</li>
            <li>Active Tasks: {24}</li>
            <li>Max Tasks: {25}</li>
        </ul>
    </li>
    <li>Stage 2: Flash Grouping</li>
    <li class="sub">
        <ul>
            <li>Incoming Count: {26:n0}</li>
            <li>Grouped Count: {27:n0}</li>
            <li>Age Last Flash Grouped: {28:n0}</li>
            <li>Active Tasks: {29}</li>
            <li>Max Tasks: {30}</li>
        </ul>
    </li>
    <li>Stage 3: Flash Validation</li>
    <li class="sub">
        <ul>
            <li>Count: {31:n0}</li>
            <li>Active Tasks: {32}</li>
            <li>Max Tasks: {33}</li>
        </ul>
    </li>
    <li>Stage 4: Archiving</li>
    <li class="sub">
        <ul>
            <li>Count: {34:n0}</li>
            <li>Active Tasks: {35}</li>
            <li>Max Tasks: {36}</li>
        </ul>
    </li>

</ul>
</body>
</html>