﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Lightning Receiver Monitor</title>
    <meta http-equiv="refresh" content="60" />
    <style>
        body
        {{
            font-family: 'Lucida Console', monospace;
            font-size: 77.5%;
        }}
        h1 {{ font-size: 1.3em; }}
        h2 {{ font-size:1.15em; }}
        ul
        {{
            padding: 3px 3px 3px 20px;
            margin: 3px 3px 3px 2px;
        }}
        li.sub {{ list-style-type: none; }}
        table
        {{
            border-collapse:collapse;
        }}
        table,th, td
        {{
            border: 1px solid;
        }}
        th
        {{
             font-weight: bold;
             text-align: left;
             padding: 4px;
        }}
        td
        {{
             padding: 4px;
        }}
    </style>
</head>
<body>
    <h1>Lightning Receiver v{0}</h1>
    <p>Current UTC Time: {1}</p>
    <table>
        <tr>
            <th>Monitor</th>
            <th>Status</th>
            <th>Message</th>
        </tr>
        <tr>
            <td>Active Sensor Connections</td>
            <td>{2}</td>            
            <td>{3}</td>
        </tr>
        <tr>
            <td>Incoming Sensor TCP rate (packet/sec)</td>
            <td>{4}</td>            
            <td>{5}</td>
        </tr>
         <tr>
            <td>Incoming Sensor Connection rate (conn/sec)</td>
            <td>{6}</td>            
            <td>{7}</td>
        </tr>
        <tr>
            <td>Active Receiver Connections</td>
            <td>{8}</td>            
            <td>{9}</td>
        </tr>
        <tr>
            <td>Incoming Receiver TCP rate (packet/sec)</td>
            <td>{10}</td>            
            <td>{11}</td>
        </tr>
        <tr>
            <td>Incoming Receiver Connection rate (conn/sec)</td>
            <td>{12}</td>            
            <td>{13}</td>
        </tr>
        <tr>
            <td>Sensor + Receiver Incoming TCP rate (pack/sec)</td>
            <td>{14}</td>            
            <td>{15}</td>
        </tr>
        <tr>
            <td>Incoming WWLLN UDP rate (packet/sec)</td>
            <td>{16}</td>            
            <td>{17}</td>
        </tr>
        <tr>
            <td>Last Packet Received UTC offset secs</td>
            <td>{18}</td>            
            <td>{19}</td>
        </tr>
        <tr>
            <td>Last Packet Processed UTC offset secs</td>
            <td>{20}</td>            
            <td>{21}</td>
        </tr>
        <tr>
            <td>Active Outgoing TLN Connections</td>
            <td>{22}</td>            
            <td>{23}</td>
        </tr>
        <tr>
            <td>Active Outgoing WWLLN Connections</td>
            <td>{24}</td>            
            <td>{25}</td>
        </tr>
        <tr>
            <td>Last GPS DB save</td>
            <td>{26}</td>            
            <td>{27}</td>
        </tr>
        <tr>
            <td>Last Log DB save</td>
            <td>{28}</td>
            <td>{29}</td>
        </tr>
        <tr>
            <td>Last Station Db Update</td>
            <td>{30}</td>            
            <td>{31}</td>
        </tr>
        <tr>
            <td>Active Sensors</td>
            <td>{32}</td>            
            <td>{33}</td>
        </tr>
        <tr>
            <td>Min Packet Latency</td>
            <td>{34}</td>
            <td>{35}</td>
        </tr>
        <tr>
            <td>Max Packet Latency</td>
            <td>{36}</td>
            <td>{37}</td>
        </tr>
        <tr>
            <td>Median Packet Latency</td>
            <td>{38}</td>
            <td>{39}</td>
        </tr>

    </table>
    
    <h2>Info</h2>
    <ul>
        <li>Stage 1: Incoming Packet Processor</li> 
        <li class="sub">
            <ul>
                <li>Count: {40:n0}</li>
                <li>Active Tasks: {41}</li>
                <li>Max Tasks: {42}</li>
            </ul>
        </li>
        <li>Stage 2: Wwlln Packet Processor</li> 
        <li class="sub">
            <ul>
                <li>Count: {43:n0}</li>
                <li>Active Tasks: {44}</li>
                <li>Max Tasks: {45}</li>
            </ul>
        </li>
        <li>Stage 3: Db Archiving</li> 
        <li class="sub">
            <ul>
                <li>Count: {46:n0}</li>
                <li>Active Tasks: {47}</li>
                <li>Max Tasks: {48}</li>
            </ul>
        </li>
    </ul>
</body>
</html>