﻿<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!--[if !mso]><!-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" /><!--<![endif]-->
	<meta name="viewport" content="width=device-width" />
	<title><#= _emailSubject #></title>

	<style type="text/css">
		.btn a:hover,
		.footer__links a:hover {
			opacity: 0.8;
		}

		.wrapper .footer__share-button:hover {
			color: #ffffff !important;
			opacity: 0.8;
		}

		a[x-apple-data-detectors] {
			color: inherit !important;
			text-decoration: none !important;
			font-size: inherit !important;
			font-family: inherit !important;
			font-weight: inherit !important;
			line-height: inherit !important;
		}

		.column {
			padding: 0;
			text-align: left;
			vertical-align: top;
		}

		.mso .font-avenir,
		.mso .font-cabin,
		.mso .font-open-sans,
		.mso .font-ubuntu {
			font-family: sans-serif !important;
		}

		.mso .font-bitter,
		.mso .font-merriweather,
		.mso .font-pt-serif {
			font-family: Georgia, serif !important;
		}

		.mso .font-lato,
		.mso .font-roboto {
			font-family: Tahoma, sans-serif !important;
		}

		.mso .font-pt-sans {
			font-family: "Trebuchet MS", sans-serif !important;
		}

		.mso .footer p {
			margin: 0;
		}

		@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
		}

		@media only screen and (max-width: 620px) {
			.wrapper .size-18,
			.wrapper .size-20 {
				font-size: 17px !important;
				line-height: 26px !important;
			}

			.wrapper .size-22 {
				font-size: 18px !important;
				line-height: 26px !important;
			}

			.wrapper .size-24 {
				font-size: 20px !important;
				line-height: 28px !important;
			}

			.wrapper .size-26 {
				font-size: 22px !important;
				line-height: 31px !important;
			}

			.wrapper .size-28 {
				font-size: 24px !important;
				line-height: 32px !important;
			}

			.wrapper .size-30 {
				font-size: 26px !important;
				line-height: 34px !important;
			}

			.wrapper .size-32 {
				font-size: 28px !important;
				line-height: 36px !important;
			}

			.wrapper .size-34,
			.wrapper .size-36 {
				font-size: 30px !important;
				line-height: 38px !important;
			}

			.wrapper .size-40 {
				font-size: 32px !important;
				line-height: 40px !important;
			}

			.wrapper .size-44 {
				font-size: 34px !important;
				line-height: 43px !important;
			}

			.wrapper .size-48 {
				font-size: 36px !important;
				line-height: 43px !important;
			}

			.wrapper .size-56 {
				font-size: 40px !important;
				line-height: 47px !important;
			}

			.wrapper .size-64 {
				font-size: 44px !important;
				line-height: 50px !important;
			}

			.divider {
				margin-left: auto !important;
				margin-right: auto !important;
			}

			.btn a {
				display: block !important;
				font-size: 14px !important;
				line-height: 24px !important;
				padding: 12px 10px !important;
				width: auto !important;
			}

			.btn--shadow a {
				padding: 12px 10px 13px 10px !important;
			}

			.image img {
				height: auto;
				width: 100%;
			}

			.layout,
			.column,
			.preheader__webversion,
			.header td,
			.footer,
			.footer__left,
			.footer__right,
			.footer__inner {
				width: 320px !important;
			}

			.preheader__snippet,
			.layout__edges {
				display: none !important;
			}

			.preheader__webversion {
				text-align: center !important;
			}

			.layout--full-width {
				width: 100% !important;
			}

				.layout--full-width tbody,
				.layout--full-width tr {
					display: table;
					margin-left: auto;
					margin-right: auto;
					width: 320px;
				}

			.column,
			.layout__gutter,
			.footer__left,
			.footer__right {
				display: block;
				float: left;
			}

			.footer__inner {
				text-align: center;
			}

			.footer__links {
				float: none;
				margin-left: auto;
				margin-right: auto;
			}

			.footer__right p,
			.footer__share-button {
				display: inline-block;
			}

			.layout__gutter {
				font-size: 20px;
				line-height: 20px;
			}

			.layout--no-gutter.layout--has-border:not(.layout--full-width),
			.layout--has-gutter.layout--has-border .column__background {
				width: 322px !important;
			}

			.layout--has-gutter.layout--has-border {
				left: -1px;
				position: relative;
			}
		}

		@media only screen and (max-width: 320px) {
			.border {
				display: none;
			}

			.layout--no-gutter.layout--has-border:not(.layout--full-width),
			.layout--has-gutter.layout--has-border .column__background {
				width: 320px !important;
			}

			.layout--has-gutter.layout--has-border {
				left: 0 !important;
			}
		}
	</style>

	<!--[if !mso]><!-->
	<style type="text/css">
		@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic);
	</style>
	<link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic" rel="stylesheet" type="text/css" /><!--<![endif]-->
	<style type="text/css">
		body, .wrapper {
			background-color: #f2f2f2;
		}

			.wrapper h1 {
				color: #43464a;
				font-size: 26px;
				line-height: 34px;
			}

			.wrapper h2 {
				color: #43464a;
				font-size: 20px;
				line-height: 28px;
			}

			.wrapper h3 {
				color: #43464a;
				font-size: 16px;
				line-height: 24px;
			}

			.wrapper a {
				color: #00afd1;
			}

				.wrapper a:hover {
					color: #005a6b !important;
				}

		@media only screen and (max-width: 620px) {
			.wrapper h1 {
			}

			.wrapper h1 {
				font-size: 22px;
				line-height: 31px;
			}

			.wrapper h2 {
			}

			.wrapper h2 {
				font-size: 17px;
				line-height: 26px;
			}

			.wrapper h3 {
			}

			.wrapper p {
			}
		}

		.column, .column__background td {
			color: #60666d;
			font-size: 14px;
			line-height: 21px;
		}

		.column, .column__background td {
			font-family: sans-serif;
		}

		.border {
			background-color: #bfbfbf;
		}

		.layout--no-gutter.layout--has-border:not(.layout--full-width), .layout--has-gutter.layout--has-border .column__background, .layout--full-width.layout--has-border {
			border-top: 1px solid #bfbfbf;
			border-bottom: 1px solid #bfbfbf;
		}

		.wrapper blockquote {
			border-left: 4px solid #bfbfbf;
		}

		.divider {
			background-color: #bfbfbf;
		}

		.wrapper .btn a {
			color: #fff;
		}

		.wrapper .btn a {
			font-family: sans-serif;
		}

			.wrapper .btn a:hover {
				color: #fff !important;
			}

		.btn--flat a, .btn--shadow a, .btn--depth a {
			background-color: #00afd1;
		}

		.btn--ghost a {
			border: 1px solid #00afd1;
		}

		.preheader--inline, .footer__left {
			color: #b8b8b8;
		}

		.preheader--inline, .footer__left {
			font-family: Ubuntu,sans-serif;
		}

		.mso .preheader--inline, .mso .footer__left {
			font-family: sans-serif !important;
		}

		.wrapper .preheader--inline a, .wrapper .footer__left a {
			color: #b8b8b8;
		}

			.wrapper .preheader--inline a:hover, .wrapper .footer__left a:hover {
				color: #b8b8b8 !important;
			}

		.header__logo {
			color: #c3ced9;
		}

		.header__logo {
			font-family: Roboto,Tahoma,sans-serif;
		}

		.mso .header__logo {
			font-family: Tahoma,sans-serif !important;
		}

		.wrapper .header__logo a {
			color: #c3ced9;
		}

			.wrapper .header__logo a:hover {
				color: #859bb1 !important;
			}

		.footer__share-button {
			background-color: #797979;
		}

		.footer__share-button {
			font-family: Ubuntu,sans-serif;
		}

		.mso .footer__share-button {
			font-family: sans-serif !important;
		}

		.layout__separator--inline {
			font-size: 20px;
			line-height: 20px;
			mso-line-height-rule: exactly;
		}
	</style>

	<meta name="robots" content="noindex,nofollow" />
	<meta property="og:title" content="<#= _emailSubject #>" />
</head>
<!--[if mso]>
  <body class="mso">
<![endif]-->
<!--[if !mso]><!-->
<body class="full-padding" style="margin: 0;padding: 0;-webkit-text-size-adjust: 100%;background-color: #f2f2f2;">
	<!--<![endif]-->
The Below Job is in Progress :<br><br>
Job Id:         <#= _lxQueryJobData.JobId #><br>
Job Submitted:  <#= _lxQueryJobData.SubmittedDateTime #>:UTC<br>
<br>
<br>
</body>
</html>