﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Lightning Query Worker</title>
    <meta http-equiv="refresh" content="60" />
    <style>
        body
        {{
            font-family: 'Lucida Console', monospace;
            font-size: 77.5%;
        }}
        h1 {{ font-size: 1.3em; }}
        h2 {{ font-size:1.15em; }}
        ul
        {{
            padding: 3px 3px 3px 20px;
            margin: 3px 3px 3px 2px;
        }}
        li.sub {{ list-style-type: none; }}
        table
        {{
            border-collapse:collapse;
        }}
        table,th, td
        {{
            border: 1px solid;
        }}
        th
        {{
             font-weight: bold;
             text-align: left;
             padding: 4px;
        }}
        td
        {{
             padding: 4px;
        }}
    </style>
</head>
<body>
    <h1>Lightning Query Worker v{0}</h1>
    <p>Current UTC Time: {1}</p>
    <h2>Info</h2>
    <ul>
      <li>Last Query Received Timestamp Utc: {2}</li>
      <li>Age Last Query Received: {3} secs</li>
      <li>Last Query Processed Timestamp Utc: {4}</li>
      <li>Age Last Query Processed: {5} secs</li>
      <li>No of Queries Processed: {6}</li>
      <li>No of Failed Queries: {7}</li>
      <li>No of Invalid Queries: {8}</li>
      <li>No of Success Queries: {9}</li>
    </ul>
</body>
</html>