﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Lightning Processor Monitor</title>
    <meta http-equiv="refresh" content="60" />
    <style>
        body
        {{
            font-family: 'Lucida Console', monospace;
            font-size: 77.5%;
        }}
        h1 {{ font-size: 1.3em; }}
        h2 {{ font-size:1.15em; }}
        ul
        {{
            padding: 3px 3px 3px 20px;
            margin: 3px 3px 3px 2px;
        }}
        li.sub {{ list-style-type: none; }}
        table
        {{
            border-collapse:collapse;
        }}
        table,th, td
        {{
            border: 1px solid;
        }}
        th
        {{
             font-weight: bold;
             text-align: left;
             padding: 4px;
        }}
        td
        {{
             padding: 4px;
        }}
    </style>
</head>
<body>
    <h1>Lightning Processor v{0}</h1>
    <p>Current UTC Time: {1}</p>
    <table>
        <tr>
            <th>Monitor</th>
            <th>Status</th>
            <th>Message</th>
        </tr>
        <tr>
            <td>Incoming TCP rate</td>
            <td>{2}</td>            
            <td>{3}</td>
        </tr>
        <tr>
            <td>Active Incoming Connections</td>
            <td>{4}</td>
            <td>{5}</td>
        </tr>
        <tr>
            <td>Incoming Connection rate</td>
            <td>{6}</td>            
            <td>{7}</td>
        </tr>
        <tr>
            <td>Db Stations</td>
            <td>{8}</td>            
            <td>{9:n0}</td>
        </tr>
        <tr>
            <td>Stations with waveforms</td>
            <td>{10}</td>            
            <td>{11:n0}</td>
        </tr>
        <tr>
            <td>Last waveform converted</td>
            <td>{12}</td>            
            <td>{13}</td>
        </tr>
        <tr>
            <td>Last waveform processed</td>
            <td>{14}</td>            
            <td>{15}</td>
        </tr>
    </table>

    <h2>Info</h2>
    <ul>
        <li>Stage 1: Raw Data</li> 
        <li class="sub">
            <ul>
                <li>Count: {16:n0}</li>
                <li>Last Packet: {17}</li>
                <li>Last Packet Converted: {13}</li>
                <li>Active Tasks: {18}</li>
                <li>Max Tasks: {19}</li>
            </ul>
        </li>
        <li>Stage 2: Waveforms</li> 
        <li class="sub">
            <ul>
                <li>Count: {20:n0}</li>
                <li>Last Waveform Processed: {15}</li>
                <li>Oldest Waveform: {21}</li>
                <li>Newest Waveform: {22}</li>
                <li>Active Tasks: {23}</li>
                <li>Max Tasks: {24}</li>
            </ul>
        </li>
        <li>Stage 3: Offsets</li>
        <li class="sub">
            <ul>
                <li>Count: {25:n0}</li>
                <li>Last Portion Found: {26}</li>
                <li>Min Duration: {27:n1}</li>
                <li>Max Duration: {28:n1}</li>
                <li>Median Duration: {29:n1}</li>
                <li>Active Tasks: {30}</li>
                <li>Max Tasks: {31}</li>
            </ul>
        </li>
        <li>Stage 4: Post Locator</li> 
        <li class="sub">
            <ul>
                <li>Bucket Count: {32:n0}</li>
                <li>Portion Count: {33:n0}</li>
                <li>Last Portion Added: {34}</li>
                <li>Last Portion Processed: {35}</li>
                <li>Active Tasks: {36}</li>
                <li>Max Tasks: {37}</li>
            </ul>
        </li>
        <!--<li>Stage 5: Grouper</li> 
        <li class="sub">
            <ul>
                <li>Count: {38:n0}</li>
                <li>Last Flash Time: {39}</li>
                <li>Last Processed: {40}</li>
                <li>Active Tasks: {41}</li>
                <li>Max Tasks: {42}</li>
            </ul>
        </li>-->
        <li>Output Flash Age Seconds</li>
        <li class="sub">
            <ul>
                <li>Min: {43:n0}</li>
                <li>Max: {44:n0}</li>
                <li>Median: {45:n0}</li>
            </ul>
        </li>
    </ul>
</body>
</html>