﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Lightning Datafeed Monitor</title>
    <meta http-equiv="refresh" content="60" />
   <style>
        body
        {{
            font-family: 'Lucida Console', monospace;
            font-size: 77.5%;
        }}
        h1 {{ font-size: 1.3em; }}
        h2 {{ font-size:1.15em; }}
        ul
        {{
            padding: 3px 3px 3px 20px;
            margin: 3px 3px 3px 2px;
        }}
        li.sub {{ list-style-type: none; }}
        table
        {{
            border-collapse:collapse;
        }}
        table,th, td
        {{
            border: 1px solid;
        }}
        th
        {{
             font-weight: bold;
             text-align: left;
             padding: 4px;
        }}
        td
        {{
             padding: 4px;
        }}
    </style>
</head>
<body>
    <h1>Lightning Datafeed v{0}</h1>
    <p>Current UTC Time: {1}</p>
    <table>
        <tr>
            <th>Monitor</th>
            <th>Status</th>
            <th>Message</th>
        </tr>
        <tr>
            <td>Incoming Primary Data Rate (packet/sec)</td>
            <td>{2}</td>
            <td>{3}</td>
        </tr>
        <tr>
            <td>Incoming Primary Connection Rate (conns/sec)</td>
            <td>{4}</td>
            <td>{5}</td>
        </tr>
        <tr>
            <td>Incoming Secondary Data Rate (packet/sec)</td>
            <td>{6}</td>
            <td>{7}</td>
        </tr>
        <tr>
            <td>Incoming Secondary Connection Rate (conns/sec)</td>
            <td>{8}</td>
            <td>{9}</td>
        </tr>
        <tr>
            <td>Age Last Refresh Partner Table Minutes</td>
            <td>{10}</td>
            <td>{11}</td>
        </tr>
        <tr>
            <td>Number of Current Client Connections</td>
            <td>{12}</td>
            <td>{13}</td>
        </tr>
        <tr>
            <td>Client Connection Attempt Rate</td>
            <td>{14}</td>
            <td>{15}</td>
        </tr>
        <tr>
            <td>Age Last Flash Processed (sec)</td>
            <td>{16}</td>
            <td>{17}</td>
        </tr>
        <tr>
            <td>Active Data Manager</td>
            <td>{18}</td>
            <td>{19}</td>
        </tr>
        <tr>
            <td>Minimum Flash Age Sent (sec)</td>
            <td>-</td>
            <td>{20}</td>
        </tr>
        <tr>
            <td>Maximum Flash Age Sent (sec)</td>
            <td>-</td>
            <td>{21}</td>
        </tr>
        <tr>
            <td>Median Flash Age Sent (sec)</td>
            <td>-</td>
            <td>{22}</td>
        </tr>
    </table>
</body>
</html>